<div id="container">
  <img src="/images/Quran_logo.png" alt="Quran logo" id="quran_logo" />
  <h3>Read the Quran in the Revelation order</h3>
  <div id="container__quranText">
    {{{text}}}
  </div>
</div>
