<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Revelation</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
    <div id="main">
      <div id="navbar">
        <div class="navbar__openbtn">
          <span onclick="openNav()" style="cursor:pointer;">&#9776;</span>
        </div>
        <div class="navbar__title">
          <a href="/">Chronological Quran</a>
        </div>
        <div>
          <a href="https://github.com/claudebarde/chronological-quran" target="_blank" title="Github Repository"><img src="/images/GitHub-Mark-Light-32px.png" alt="github" class="github_img" /></a>
        </div>
      </div>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div style="overflow: auto;height: 100%;">
          {{> sidenav}}
        </div>
      </div>
      {{{body}}}
      <div id="tanzil_link">
        <a href="http://tanzil.net" target="_blank">Quran text courtesy of Tanzil.net</a>
      </div>
    </div>
  </body>
</html>
