body{
  padding: 0px;
  margin: 0px;
  font-size: 1rem;
  font-family: Verdana, Arial;
  background-color: #F8FCE6;
}

#navbar{
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #4d94ff;
  border: none;
  border-bottom: solid 4px #005ce6;
  font-size: 2rem;
  color: white;
  padding: 20px 0px;
}

.navbar__openbtn{
  margin: 0px 15px;
}

.navbar__title a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e6ffff;
    overflow: hidden;
    transition: 0.5s;
    padding: 60px 0px;
}

.sidenav a:hover {
    cursor: pointer;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: black;
}

#main {
    transition: margin-left .5s;
    padding: 0px;
    padding-top: 80px;
    margin: 0px;
}

#container{
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#container__quranText{
  margin: 0px 50px;
}

.quranText{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  border-radius: 15px;
  margin-top: 20px;
}

.quranText:hover{
  background-color: #f2fad1;
}

.quranText__index{
  font-size: 1rem;
  margin: 0px;
  padding: 5px
}

.quranText__ar{
  font-size: 2rem;
  margin: 10px 0px 20px 0px;
}

.quranText__en{
  font-size: 1rem;
  margin: 0px 0px 20px 0px;
}

.sidenav__list{
  padding: 0px 5px 100px 15px;
  margin: 0px;
  list-style-type: none;
}

.sidenav__list__li{
  margin-bottom: 20px;
}

.sidenav__list__li a{
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

.github_img{
  vertical-align: middle;
  margin-right: 20px;
}

.error_img{
  height: 100%;
  width: 100%;
}

#tanzil_link{
  text-align: center;
  padding-bottom: 50px;
}

#tanzil_link a{
  color: blue;
  text-decoration: none;
  font-size: 0.7rem;
  font-style: italic;
}

#quran_logo{
  width: 256px;
}

.index__list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 40px;
}

.index__links{
  margin: 5px;
  list-style-type: none;
  margin: 0;
  padding: 0px 40px;
  text-align: left;
}

.index__links li{
  padding: 10px 0px;
}

.index__links a{
  text-decoration: none;
  color: black;
}

.index__links__item__ar{
  font-weight: bold;
    font-size: 1.2rem;
}

.index__links__item__en{
  font-size: 0.8rem;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 400px) {
  #navbar {font-size: 1.5rem;}
  #container__quranText {margin: 0px 10px;}
}
